  .container 
  {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border: 1px solid black;
  }

  .my-container 
  {
    /* width: 100%; */
    border: 1px solid black;

  }

  .container-fluid 
  {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row 
  {
    margin-right: 15px;
    margin-left: 15px;
  }
 
  .top-pic 
  {
    margin-bottom: 100px;
    width: 100%;
   
  }

  .box 
  {
    position: relative;
  }

  .img-title 
  {
    position: absolute;
    height: 180px;
    text-align: start;
    left: 100px;
    top: 350px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    color: #636e72;
  }
  .colorised 
  {
    color: #3bb3c3;
  }
  
  button 
  {
    position: absolute;
    background: #3bb3c3;
    opacity: 0.8;
    border-radius: 10px;
    width: 25vw;
    height: 4vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 3vw;
    text-align: center;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 5px grey;
    outline: 0;
  }  

  button:active, button:hover 
  {
    background: #349caa;
    outline: 0;
  }
  button:active
  {
    box-shadow: 0 1px 2px grey;
    transform: translateY(4px);
  }
  
  .bef-aft 
  {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    color: #3bb3c3;
  }
  .text 
  {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    text-align: justify;
    color: #636E72;
  }

  .textPadding
  {
    padding-left: 20%;
    padding-right: 20%;
  }
  }

  .teamPics
  {
    width: 355px;
    height: 355px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .my-row
  {
   
    
  }


