body{
    padding: 0px;
    margin: 0px;
}


#root {
    
    max-width: 1200px;
    background-color: white;
}

.navbar {
  background-color: #ffffff;
}

.nav-link {
  color: #5f5b5b;
  font-size: 1rem;
  line-height: 65px;
}

.nav-item:not(:last-child) {
  padding-left: 20px;
}

.nav-item:active {
  text-shadow: 0px 4px 4px rgba(59, 179, 195, 0.75);
}

.nav-item:hover {
  text-shadow: 0px 4px 4px rgba(59, 179, 195, 0.75);
}

nav {
  border-bottom: 3px solid #7edadd;
}



.myCol{
    
    height: auto;
    padding: 0px;
}

.mainHeroImage{
    padding: 0px;
}
.heroImage{
    object-fit: cover;
    right: auto;
    top: auto;
    object-position: center;
    /* border:1px solid green; */
    height:574px;
    width: 100%;
}

.img-title {
    position: absolute;
    width: 730px;
    height: 180px;
    left: 100px;
    top: 150px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 90px;
    align-items: center;
    text-transform: uppercase;
    color: #636e72;
    padding-top: 0px;
  }
  .satisfied {
    color: #3bb3c3;
  }

button {
    background: #3bb3c3;
    opacity: 0.8;
    border-radius: 10px;
    width: 255px;
    height: 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 5px grey;
    outline: 0;
  }
  
  button:active,
  button:hover {
    background: #349caa;
    outline: 0;
  }
  button:active {
    box-shadow: 0 1px 2px grey;
    transform: translateY(4px);
  }

/* .ourBlogTextRow{
width: 1440px;
} */

.blogText{

    height: 443px;
    /* border: 1px solid yellow; */
    padding: 15%;
    /* padding: 106px 260px 158px 260px; */
    /* justify-content: ; */
}

.titleSettings{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 72px;


text-align: center;

color: #3BB3C3;
}
.smallText{
position: relative;
height: 100%;
width: 100%;
overflow: visible;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
text-align: center;
color: #636E72;
}

.blogContentRow{
    height: 850px;
    padding: 50px 130px 100px 130px;
}

.my-col2{
  width:260px;
  height: 260px;
  padding: 0px;
}

.imagePadding{
    padding: 10px;
    
}

.blogImageSettings{
    object-fit: cover;
    width: 255px;
    height: 258px;
    object-position: center;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.textUnderImage{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #3BB3C3;
}

.fontIcon {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #3bb3c3;
  box-shadow: 0px 2px 10px rgba(54, 54, 54, 0.15);
  border-radius: 5px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  
  top: 19%;
  left: 15%;
  height: 30px;
  width: 30px;
  position: absolute;
}
.carousel-control-next-icon {
  top: 19%;
  left: 22%;
}
.text-btwn {
  height: 70px;
}


.mainArrowRow{
    padding: 47%;
    justify-content: center;
    height: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
   
}

@media (max-width: 1103px){
  .blogContentRow {
    overflow: scroll;
  }
  .heroImage{
    object-position: right;
  }
}

@media (max-width: 812px){
  .blogImageSettings{
    width: 200px;
    height: 200px;
  }
  .blogContentRow{
    padding: 10%;
  }
}

@media (max-width: 768px){
  
  
  .img-title{
    height: auto; 
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 70px;
    width: 100%;
    font-size: 70px;
    left:0px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .mainArrowRow{
    padding: 46%;
    padding-top: 30px;
    padding-bottom: 30px;
    
  }

  .heroImage{

    filter: blur(3px);

  }

  img{

      
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    
  }

  .mainTitleOnImg{
    width: 100%;
  }

  button{
    position: relative;
    font-size: 20px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .blogText{
    width: 100%;
    padding: 106px 5% 158px 5%;
  }
  .titleSettings{
    text-align: center;
    
    font-size: 35px;
    line-height: 65px;
  }

  .smallText{
    width: 100%; 
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    overflow: visible;
  }

  .blogImageSettings{
    width: 200px;
    height: 200px;
  }
  

}

@media(max-width: 535px){
  .img-title{
    top: 80px;
    height: auto; 
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 70px;
    width: 100%;
    font-weight: 500;
    font-size: 55px;
    left:0px;
    padding-right: 5%;
    padding-left: 5%;
  }

  .heroImage{
    object-position: right;
  }

  .blogContentRow{
    padding: 5%;
  }

  .blogImageSettings{
    width:200px;
    height: 200px;
  }

  .textUnderImage{
    width: 100%;
  }
  .imagePadding{
    padding-left: 15%;
    padding-right: 15%;
  }
  .mainArrowRow{
    padding: 44%;
    padding-top: 30px;
    padding-bottom: 30px;
    
  }
}

/* Single blog page CSS */

.visibleClass{
  display: visible;
}

.noneVisible{
  display: none;
}

.mainDivBlogPage{
  padding-left: 21%;
  padding-right: 21%;
}

ul, li {
  list-style: none;
  padding-inline-start: 0px;
 
}

.imgTitle{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textTitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 72px;
  
  
  text-align: center;
  
  color: #3BB3C3;
}

.mainText{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;


  text-align: left;

  color: #636E72;
}

.middleImg{
  width:54%;
  
}

.spanStyle{
  font-family: Roboto;
  font-weight: bold;
  color: #636e72;
}

@media(max-width: 920px){
  .textTitle{
      font-size: 35px;
  }
}

@media(max-width: 766px){
  .textTitle{
      font-size: 30px;
  }
  .mainText{
      
      font-weight: 400px;
      line-height: 36px;
  }

  .mainDivBlogPage{
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media(max-width: 658px){
  .textTitle{
      font-size: 25px;
      font-weight: 340;
  }
  .middleImg{
    width: 100%;
  }
}

@media(max-width: 549px){
  .textTitle{
    line-height: 35px;
    font-weight: 380;
  }
}






