* {
  font-family: 'Roboto', sans-serif;
}

.page-footer {
  background-color: #333333;
}

.logo-img img {
  width: 160px;
  height: 57px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.work-days {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.menu-items {
  margin-top: 20px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.menu-items ul li,
.contacts ul li {
  margin-bottom: 12px;
}

.menu-items ul li a,
.contacts ul li a {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.pri-policy a {
  color: white;
}

.contacts ul {
  margin-top: 20px;
}

.telNumber {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.line {
  background-color: #3bb3c3;

}

.copyright {
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* color: #7a7b7b; */
  color: white;
}

.link-unstyled {
  text-decoration: none;
  /* color: #7a7b7b; */
  color: white;
}