/* .my-row {
  border: 3px dotted blue;
}
.my-col {
  border: 3px solid green;
} */
.my-container {
  border: 1px solid black;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* width: 1440px; */
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.header {
  height: 108px;
  color: red;
}
.top-pic {
  margin-bottom: 8vw;
}
img {
  width: 100%;
}
.box {
  position: relative;
}
.img-title {
  position: absolute;
  height: 18vw;
  text-align: start;
  left: 6vw;
  top: 17vw;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 6vw;
  line-height: 7vw;
  text-transform: uppercase;
  color: #636e72;
}
.satisfied {
  color: #3bb3c3;
}

button {
  background: #3bb3c3;
  opacity: 0.8;
  border-radius: 10px;
  width: 25vw;
  height: 4vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  line-height: 3vw;
  text-align: center;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px 5px grey;
  outline: 0;
}

button:active,
button:hover {
  background: #349caa;
  outline: 0;
}
button:active {
  box-shadow: 0 1px 2px grey;
  transform: translateY(4px);
}

.bef-aft {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 4vw;
  line-height: 7vw;
  color: #3bb3c3;
}
.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  line-height: 3vw;
  text-align: center;
  color: #636e72;
}
.img-fluid {
  width: 540px;
  height: 302px;
}
.text-under-pic {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: 0.05em;
  color: #636e72;
}
.fontIcon {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #3bb3c3;
  box-shadow: 0px 2px 10px rgba(54, 54, 54, 0.15);
  border-radius: 5px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 19%;
  left: 15%;
  height: 30px;
  width: 30px;
}
.carousel-control-next-icon {
  top: 19%;
  left: 22%;
}
