* {
  font-family: "Roboto", sans-serif;
}

/* 

  .header
  {
    height: 108px;
    background-color: #3bb3c3;
  } */


  container-fluid{
    padding: 0;
  }
  .top-pic
  {
    margin-bottom: 8vw;
  }

  img
  {
    width: 100%;
  }

  .box
  {
    position: relative;
  }

  .img-title
  {
    position: absolute;
    height: 18vw;
    text-align: start;
    left: 6vw;
    top: 17vw;
    
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 5vw;
    text-transform: uppercase;
    color: #636e72;
  }

  .colorised
  {
    color: #3bb3c3;
  }

	 .btn 
	{
		background: #3bb3c3;
    opacity: 0.8;
    border-radius: 10px;
    width: 255px;
		height: 46px;
    font-family: Roboto;
    font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 35px;
		align-items: center;
		text-align: center;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 5px grey;
    outline: 0;
	}

	.btn:active, .btn:hover
  {
    background: #349caa;
		
		color: #ffffff;
  }
  .btn:active
  {
    box-shadow: 0 1px 2px grey;
		
		color: #ffffff;
	}
	
	.btn {
		width: 255px;
		height: 46px;
		text-align: center;
	}

  .bef-aft {
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 7vw;
    color: #3bb3c3;
  }

  .text{
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 3vw;
    text-align: center;
    color: #636e72;
  }

  .textPadding
  {
    padding-left: 20%;
    padding-right: 20%;
  }

  h4 {
    text-align: center;
    font-size: 1.5vw ;
    margin-bottom: 1.5vw;
    margin-top: 1vw;
    color: #3bb3c3;
  }

  h5 {
    text-align: center;
		font-size: 18px ;
		font-weight: 300;
		color: #363636;
		width: 255px;
		height: 45px; 
  }

  .picBtn {
    width: 22vw;
    height: 22vw;
    border: none;
    background: none;
    padding: 1vw;
   }

  .picBtn:hover
  {
    opacity: 0.7;
  }


  .img-fluid {
    width: 350px;
    height: 340px;
  }

  .carousel {
    position: relative;
  }

  .carousel-control-icon {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #237d89;
    box-shadow: 0px 2px 10px rgba(54, 54, 54, 0.15);
    border-radius: 5px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    position: relative;
    top: 19%;
    left: 22%;
    height: 30px;
    width: 30px;
  }
  .carousel-control__homepage-gallery {
    top: 100%;
  
  }

